

table {
	width: 43%;
	height: 96px;
	display: grid
	grid-template-columns: 20% 20% 20% 20%;

}

img {

	
	width:	484px; 
	height: 289px;
	
	-webkit-box-shadow: 3px 11px 42px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 11px 42px 3px rgba(0,0,0,0.75);
box-shadow: 3px 11px 42px 3px rgba(0,0,0,0.75);
-moz-border-radius: 51px 51px 51px 51px;
-webkit-border-radius: 51px 51px 51px 51px;
border: 0px solid #000000;
}

 .title{
	display: flex;
	justify-content: center;
}
/*td{
	display: flex;
	flex-direction: row;

}*/
#picture{


	background-color: green;
	width:	484px; 
	height: 289px;
	z-index: -1;




}