

table {
	width: 43%;
	height: 96px;
	display: grid
	grid-template-columns: 20% 20% 20% 20%;

}

img {

	
	width:	484px; 
	height: 289px;
	border: 1px solid black;

}

 .title{
	display: flex;
	justify-content: center;
}
/*td{
	display: flex;
	flex-direction: row;

}*/
#fondito{


	background-color: green;
	width:	484px; 
	height: 289px;
	z-index: -1;




}